*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.view{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

/* number타입 화살표 없애기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

#spaceViewContainer {
	max-width: 1200px;
	padding-top: 120px;
	margin: 34px auto 50px;
}

#spaceImgDiv {
	width: 100%;
	height: 500px;
	display: flex;
	-webkit-box-align: center;
	border-radius: 15px;
	overflow: hidden;
	align-items: center;
}

#spaceImgDivLeft {
	width: 50%;
	height: 100%;
	overflow: hidden;
}

#spaceImgDivRight {
	width: 50%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.thumnailDiv {
	width: 100%;
	height: 100%;
}

.noThumnailDiv {
	width: 50%;
	height: 50%;
	position: relative;
}

.btnShowImg {
	width: 100%;
	height: 100%;
	outline: none;
	border: 1px solid white;
	background-color: white;
}

.btnShowImg:focus {
	outline: none;
}

.btnShowImg>img {
	width: 100%; /* 버튼 너비에 맞게 이미지 크기 조정 */
	height: 100%; /* 버튼 높이에 맞게 이미지 크기 조정 */
	cursor: pointer; 
}

#moreImgDiv {
	position: absolute;
	right: 14px;
	bottom: 14px;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 14px 7px 18px;
	border-radius: 5px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 18px;
	line-height: 27px;
	color: rgb(255, 255, 255);
	box-shadow: none; /* 그림자 제거 */
	text-shadow: none; /* 텍스트 그림자 제거 */
	border: none; /* 기본 테두리 제거 */
	outline: none; /* 기본 외곽선 제거 */
}

/*이미지 뷰어 시작*/
/* 전체 화면 이미지 뷰어 */
.full-image-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* 검은색 반투명 배경 */
    display: none; /* 기본적으로 숨김 */
    z-index: 2000; /* 다른 요소들보다 위에 표시되게 함 */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    overflow: hidden; /* 배경에서 스크롤 방지 */
}

/* 이미지 영역 스타일 나중에 실제 호스트에게 받을 이미지 크기로 고정 */
.image-container {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 스타일 */
#viewedImage {
    max-width: 100%;
    max-height: 100%;
}

/* 닫기 버튼 */
#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 5px;
}

/* 네비게이션 버튼 스타일 */
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

/*이미지 뷰어 끝*/

#spaceContentDiv {
	position: relative;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: 20px;
}

#spaceContentLeftDiv {
	width: 60%;
}

#spaceInfoDiv {
	width: 100%;
	padding-bottom: 30px;
	border-bottom: solid 0.3px #8080802b;
}

#hostName {
	font-size: 14px;
	line-height: 20px;
}

#spaceNameDiv {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	gap: 18px;
}

#hostName {
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: rgb(163, 163, 163);
}

#spaceName {
	font-weight: bold;
	font-size: 28px;
	line-height: 54px;
	color: rgb(61, 61, 61);
}

#btnSpaceShare {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   background: rgb(243, 245, 247);
   border: none;
   outline: none;
   cursor: pointer;
}

/*링크 복사 알림 시작*/
/* 알림 박스 스타일 */
.copy-notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0); /* 검은색 배경 */
    color: white; /* 흰색 글씨 */
    padding: 10px 20px;
    border-radius: 10px; /* 둥근 모서리 */
    font-size: 16px;
    display: none; /* 기본적으로 숨김 */
    z-index: 1000; /* 다른 요소들보다 위에 표시되게 함 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0; /* 처음에 투명 */
    transition: opacity 0.3s ease, top 0.3s ease;
}




/* 알림 박스 나타날 때 */
.copy-notification.show {
    display: block;
    opacity: 1;
    top: 80px; /* 화면 상단에 조금 더 붙도록 */
}
/*링크 복사 알림 끝*/


#btnSpaceShare.focus{
	outline: none;
}

#spaceAddr {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: rgb(36, 36, 36);
	display: flex;
}

#addrIcon {
	width: 20px;
	filter: invert(55%) sepia(93%) saturate(286%) hue-rotate(115deg) brightness(94%) contrast(95%);
}

#reviewInfoDiv {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

#starRatingDiv {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

#starScore {
	font-weight: bold;
}

#reviewCount {
	font-weight: bold;
}

.reviewLikeyBox {
    display: inline-block;
    border: 1px solid rgb(223, 226, 231);
    border-radius: 4px;
    color: rgb(114, 120, 127);
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    min-width: 77px;
    width: fit-content;
    height: 29px;
    box-sizing: border-box;
}

#spaceViewTap {
	position: sticky;
	top: 120px;
	width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	justify-content: space-evenly;
	border-bottom: 1px solid rgb(240, 240, 240);
	background: rgb(255, 255, 255);
	z-index: 1010;
}

.btnTab {
   padding: 16px 0px 20px;
   font-size: 14px;
   line-height: 21px;
   position: relative;
   padding: 16px 0px 20px;
   width: 100%;
   font-size: 15px;
   line-height: 22px;
   color: rgb(138, 138, 138);
   background: transparent;
   border: none;
   cursor: pointer;
}

.btnTab:focus{
	outline: none;
}

.btnTab.active{
	border-bottom: 2px solid #36BC9B;
    color: #36BC9B;
    font-weight: bold;
}

.tabDetail {
	position: absolute;
	bottom: 7px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 11px;
	line-height: 14px;
	color: rgb(163, 163, 163);
}

#spaceDetail {
	width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 0.3px #8080802b;
}

#spaceDescDiv {
	margin-bottom: 50px;
}

#spaceTipDiv{
	margin-bottom: 50px;
}

#spaceOptionDiv {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

#spaceMaxCapacityDiv, #spaceParkingDiv {
	width: 170px;
    height: 110px;
    border-radius: 8px;
    background-color: rgb(250, 251, 251);
    display: grid;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
    align-content: space-evenly;
}

#map{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

#spaceNotes{
	width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 0.3px #8080802b;
}

#spaceReview, #spaceQnA, #spaceRefund{
	width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 0.3px #8080802b;
}

.headerDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.headerLeftDiv{
	display: flex;
    align-items: center;
}

.headerRightDiv{
	display: flex;
    align-items: center;
    gap: 10px;
}

.btnReviewSort{
	font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: rgb(174, 179, 184);
    border: none;
    outline: none;
    background: none;
    
}

.btnReviewSort:focus{
	outline: none;	
}

.btnReviewSort.active {
    color: #36BC9B; /* 강조 텍스트 색상 */
}

.contentAllDiv{
	padding-top: 30px;
    padding-bottom: 10px;
    font-size: 14px;
    white-space: pre-line;
}

.reviewAllDiv{
	padding-top: 30px;
    font-size: 14px;
    white-space: pre-line;
}


.contentDiv{
	display: flex;
}

.contentLeftDiv {
	width: 14%;
}

.contentRightDiv {
    width: 86%;
}

.returnInfo {
   background: #f1f3f5;
   padding: 30px 40px;
   border-radius: 10px;
   width: 100%;
   margin-bottom: 40px;
   margin-top: 30px;
}

#return {
   white-space: pre-line;
   font-size: 15px;
   color: #555B5F;
}

.writerImg{
	width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;
}

.writerImg > img {
	width:100%;
	height: 100%;
}

.writerDiv{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.writerDiv2{
	display: flex;
    align-items: center;
}

.replyContentDiv{
	padding: 20px 20px 20px 20px;
    background: rgb(245, 247, 248);
    border-radius: 8px;
    font-size: 14px;
    white-space: pre-line;
    width: 116%;
}
.moreDiv{
	display:flex;
	cursor: pointer;
}
#reviewPagingDiv, #qnaPagingDiv {
	margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btnPaging{
	width: 30px;
    border: none;
    background: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.actionMenu, .sQactionMenu {
    position: absolute;
    z-index: 1;
    right: 0px;
    width: 100px;
    padding: 10px 0px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0px;
    border: 1px solid rgb(239, 243, 245);
    background-color: rgb(255, 255, 255);
}

.actionMenu button, .sQactionMenu button {
    display: block;
    height: 30px;
    width: 100%;
    border: none;
    background: transparent;
}

.actionMenu button:hover, .sQactionMenu button:hover {
    background: #f0f0f0;
}

#QnAWriteDiv{
	height: 40px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(223, 226, 231);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#QnADiv{
	padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 0.3px #8080802b;
}

#QnAContentDiv{
	display: flex;
}

#QnAContentLeftDiv{
	width: 20%;
}

#QnAContentRightDiv{
	width: 80%;
}



.reservationDetailDiv {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.17;
    color: rgb(158, 164, 170);
}

/* 숨겨진 input 필드 (실제로 날짜를 선택하는 input) */
#reservationDate {
    display: none; /* 처음에는 input 필드를 숨김 */
}








#inputDateDiv{
	margin-top: 8px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(223, 226, 231);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 10px;
}

#inputPeopleDiv{
	position: relative;
	margin-top: 8px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid rgb(223, 226, 231); 
	cursor: pointer;
	display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 10px;
}

/* 동적 생성될 드롭다운 스타일 */
#inputPeopleDropdownDiv {
    position: absolute; /* 부모 요소(#inputPeopleDiv)를 기준으로 위치 설정 */
    top: 40px; /* 부모 요소 바로 아래 */
    left: 0;
    width: 100%; /* 부모 요소와 동일한 너비 */
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px 0px;
    border: 1px solid rgb(239, 243, 245);
    background-color: rgb(255, 255, 255);
    display: none; /* 처음에 숨김 상태 */
    cursor: default;
}

#inputTotalDiv{
	width: 100%;
    height: 90px;
    border-bottom: 1px solid rgb(223, 226, 231);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#inputPeopleRequestDiv{
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

#inputPeopleResetDiv{
	width: 75px;
}

#inputPeopleSubmitDiv{
	display: grid;
    margin-top: 0px;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: #36BC9B;
    text-align: center;
    align-items: center;
}

.h_center {
    height: 28px;
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    background-color: rgb(245, 248, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h_center p {
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    color: rgb(36, 111, 248);
}

.btnPeopleMul{
    width: 30px;
    font-size: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: white;
    border: none;
}

.btnPeopleMul:focus{
	outline: none;
}


#QnAOverlay, #rvUpdateOverlay, #qnaUpdateOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 검은색 반투명 */
    z-index: 2000; /* 다른 요소보다 위에 표시 */
    display: none; /* 기본적으로 숨김 */
    overflow: hidden; /* 배경에서 스크롤 방지 */
}

/* 흰색 슬라이드 div */
#QnASlideUpDiv, #rvUpdateSlideUpDiv, #qnaUpdateSlideUpDiv {
    position: fixed;
    bottom: -100%; /* 처음에는 화면 아래에 숨김 */
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255, 255, 255);
    border-radius: 22px;
    width: 400px;
    transition: bottom 0.5s ease-in-out; /* 부드러운 슬라이드 효과 */
    padding: 30px 50px 30px 50px;
}

#QnAHeaderDiv, #rvUpdateHeaderDiv, #qnaUpdateHeaderDiv {
	display: grid;
    justify-items: center;
}

#QnAContentHeaderDiv, #rvUpdateContentHeaderDiv, #qnaUpdateContentHeaderDiv {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#QnAContentHeaderDiv > div > span, #rvUpdateContentHeaderDiv > div > span, #qnaUpdateContentHeaderDiv > div > span {
	font-size: 12px;
	font-weight: bold;
	color: #828181b3;
}
#QnAContentDiv, #rvUpdateContentDiv, #qnaUpdateContentDiv {
	margin-top: 8px;
	width: 100%;
    height: 280px;
    padding: 14px;
    border-radius: 4px;
    border: 1px solid rgb(212, 219, 226);
}

#QnaFooterDiv, #rvUpdateFooterDiv, #qnaUpdateFooterDiv{
	margin-top: 20px;
	background-color: #36BC9B;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#inputQuestionCount, #inputRvUpdateCount, #inputQnaUpdateCount {
	transition: color 0.3s ease; /* 색상 변경 시 부드럽게 애니메이션 */
}

#inputQuestionCount.over-limit, #inputRvUpdateCount.over-limit, #inputQnaUpdateCount.over-limit {
	color: red; /* 제한 초과 시 빨간색 */
}

.reviewScoreSelectBox {
	margin: 20px 0px;
}

.reviewScoreSelectBox > p {
	text-align: center;
}

.reviewScoreSelect {
    display: flex;
    justify-content: center;
    gap: 5px;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transform: translate(0, 40%);
  }

  input[type='radio']:checked {
    background-color: #36BC9B;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px #36BC9B;
  }


#spaceContentRightDiv {
	width:33%
}
#reservationDiv{
	position: sticky;
    top: 150px;
	width:100%;
	padding: 30px 0px 30px 0px;
    border-radius: 10px;
    border: 1px solid rgb(223, 226, 231);
    background-color: rgb(255, 255, 255);
}

.#reservationDiv:focus-within {
      position: static; /* sticky 제거 */
}

.reservationDetailDiv{
	margin: 0px 60px 0px 60px;
}

.btnreservationDiv{
	height: 52px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 243, 245);
    cursor: pointer;
}

.btnQnADiv{
	height: 52px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 243, 245);
    cursor: pointer;
}

/* report Modal */

.darkModalBackground {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    z-index: 3000;
}

.modalBox {
    width: 420px;
    padding: 20px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}

.reportAlertText {
    padding: 12px;
    background-color: #8b8b8b1c;
    margin-bottom: 10px;
    border-radius: 10px;
}

#reportReason {
    width: 100%;
    height: 300px;
    padding: 10px;
    font-size: 18px;
    background-color: #8b8b8b1c;
    resize: none;
    color: black;
    border: none;
    border-bottom: 2px solid #0000007e;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.reportBtnBox {
    display: flex;
    justify-content: center;
}

.reportBtnBox > button {
	margin: 0px 10px;
    padding: 10px 20px;
    border: none;
    background-color: #999;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.reportBtnBox > button:hover {
    background-color: gray;
    color: #eee;
}

/* 예약 시간대 css */
.reservationTimeItemListBox {
	margin: 10px auto;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 25px 0 40px;
}

.reservationForm {
	margin: 10px auto;
	width: 90%;
	display: none;
	height: 250px;
	overflow-y: scroll; 
}

.reservationCheckLabel {
    background-color: #71D3BB;
    display: inline-block; /* 블록 요소처럼 동작 */
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

.reservationCheckLabel:hover {
    background-color: cadetblue !important;
}

.reservationTimeItem {
    display: none;
}

/* 체크된 라벨 스타일 */
.reservationTimeItem:checked + label {
    background-color: black !important;
    color: white;
    border-color: #4CAF50;
}

.reservationTimeItemDisabled {
	background-color: gray;
}

.topNoneImg {
	margin: auto;
	height: 100%;
}

.topNoneImg img {
	object-fit: cover;
	height: 100%;
}

/* 위로 버튼 */
.toTopBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 1000;
	background: none;
	border: none;
	cursor: pointer;
	outline-style: none;
}

.toTopBtn img {
	width: 40px;
	height: 40px;
}

.reviewHr {
	background: #8080802b;
	height:1px;
    border:0;
    margin-top: 20px;
}

.contentInfo {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.infoDevider {
	color: rgb(174, 179, 184);
}

.questionCategorySelectBox {
	margin-top: 10px;
}

.questionCategorySelectBox select {
	border: 1px solid rgb(212, 219, 226);
	width: 100%;
    border-radius: 4px;
    height: 42px;
    font-size: 14px;
    padding-left: 8px;
}

.questionCategorySelectBox select:focus {
	outline: none;
}

/* 달력 */
.ui-widget-header { border: 0px solid #dddddd; background: #fff; } 

 .ui-datepicker-calendar>thead>tr>th { font-size: 14px !important; } 

 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default,
 .ui-button,
 html .ui-button.ui-state-disabled:hover,
 html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; } 

 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 

 .ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); } 

 .ui-widget.ui-widget-content { border: 1px solid #eee; } 

 #datepicker:focus>.ui-datepicker { display: block; } 

 .ui-datepicker-prev,
 .ui-datepicker-next { cursor: pointer; } 

 .ui-datepicker-next { float: right; } 

 .ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

 .ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

 .ui-datepicker-calendar { width: 100%; } 

 .ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 20px; font-weight: 400; } 

 .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 12px !important; font-weight: bold !important; text-decoration: none;}

 .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

 .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 

 .ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus,
 .ui-button:hover,
 .ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

 .ui-widget-header .ui-icon { background-image: url('./btns.png'); } 

 .ui-icon-circle-triangle-e { background-position: -20px 0px; background-size: 36px; } 

 .ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; } 

 .ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

 .ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

 .ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

 .ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

 .ui-state-highlight,
 .ui-widget-content .ui-state-highlight,
 .ui-widget-header .ui-state-highlight {display: inline-block; border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 6.4px; width: 30px; height: 30px;} 

 .inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

 .inp:focus { outline: none; background-color: #eee; } 
